$turquoise: #0eb48d;
$white: #fff;
$black: #333;
$blue: #0e71b4;
$dark-blue: #192771;
$orange: #fe7913;
$smoke: #e9e9e9;
$dark-grey: #676767;
$grey: #9b9b9b;
$red: #f31336;

.c-turquoise {
  color: $turquoise;
}
.c-orange {
  color: $orange;
}
.c-white {
  color: $white;
}
.c-black {
  color: $black;
}
.c-blue {
  color: $blue;
}
.c-dark-blue {
  color: $dark-blue;
}
.c-red {
  color: $red;
}
.c-red2 {
  color: #f53636;
}
.c-dark-grey {
  color: $dark-grey;
}
.c-grey {
  color: $grey;
}
