<div fxFlex
     fxLayout="column"
     fxLayoutAlign="center center"
     class="landing">
  <mat-progress-bar *ngIf="isloading"
                    mode="indeterminate"
                    class="loading-bar"></mat-progress-bar>
  <div class="example-card"
       fxLayout="column"
       fxLayoutAlign="start center">
    <div class="intro"
         fxLayout="column"
         fxLayoutAlign="center center">
      <img class="logo-img"
           src="../../../assets/icons/blue-logo.png">
      <p class="com-tag">Sign in to Chynge Wallet</p>
    </div>

    <div class="login"
         fxLayout="column">
      <h2 class="login-welcome"> Reset Password
        <br />
        <p *ngIf="showConfirmForm"
           style="color: #f44336; margin-top: 10px !important; font-size: 14px;">We sent a verification code to your email. Please enter that code below:</p>
        <p *ngIf="resetSuccessful"
           style="color: #f44336; margin-top: 10px !important; font-size: 14px;">We have successfully reset your password, you may now login.</p>
      </h2>

      <form *ngIf="showForgotForm"
            (ngSubmit)="onForgotSubmit()"
            [formGroup]="forgotForm"
            class="form-fields">
        <mat-card-content fxLayout="column"
                          fxLayoutAlign="start start">
          <mat-form-field fxFlex="100"
                          class="input"
                          [class.app-input-no-underline]="!showUnderline">
            <input matInput
                   placeholder="type your email address here"
                   formControlName="email"
                   autofocus>
          </mat-form-field>
          <div fxLayout="row"
               fxLayoutAlign="space-between start"
               fxLayoutGap="10px"
               style="width:100%;">
            <button fxFlex="50"
                    mat-button
                    type="submit"
                    [disabled]="isloading || !forgotForm.valid"
                    [ngClass]="!forgotForm.valid ? 'login-disabled-btn' : 'login-btn'">REQUEST</button>

            <button fxFlex="50"
                    mat-button
                    [ngClass]="'cancel-btn'"
                    [routerLink]="['/login']">CANCEL</button>
          </div>
        </mat-card-content>
      </form>

      <form *ngIf="showConfirmForm"
            (ngSubmit)="onConfirmSubmit()"
            [formGroup]="confirmForm"
            class="form-fields">
        <mat-card-content fxLayout="column"
                          fxLayoutAlign.lt-md="center center">
          <mat-form-field fxFlex="100"
                          class="input"
                          [class.app-input-no-underline]="!showUnderline">
            <input matInput
                   placeholder="Enter your verification code"
                   formControlName="verificationCode"
                   autofocus>
          </mat-form-field>
          <mat-form-field class="input"
                          [class.app-input-no-underline]="!showUnderline">
            <input matInput
                   placeholder="Enter your new password"
                   formControlName="newPassword"
                   [type]="hidePassword ? 'password' : 'text'">
            <mat-icon matSuffix
                      (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>

          <div style="width:100%">
            <button mat-button
                    type="submit"
                    [disabled]="isloading || !confirmForm.valid"
                    [ngClass]="!confirmForm.valid ? 'login-disabled-btn' : 'login-btn'">RESET PASSWORD</button>
          </div>
        </mat-card-content>
      </form>

      <form *ngIf="resetSuccessful"
            class="form-fields">
        <mat-card-content fxLayout="column"
                          fxLayoutAlign.lt-md="center center">
          <div style="width:100%">
            <button mat-button
                    [ngClass]="'login-btn'"
                    [routerLink]="['/login']">LOGIN</button>
          </div>
        </mat-card-content>
      </form>


    </div>
  </div>
</div>