@font-face {
  font-family: AvenirBold;
  src: url('/assets/fonts/avenir-roman-bold.ttf');
}

@font-face {
  font-family: AvenirNext;
  src: url('/assets/fonts/avenir-next-regular.ttf');
}

@font-face {
  font-family: AvenirNextThin;
  src: url('/assets/fonts/avenir-next-thin.ttf');
}

button,
span,
pre,
a,
p,
abbr,
input,
label,
textarea,
select,
h1,
h2,
h3,
h4,
h5,
h6,
li {
  font-family: 'AvenirNext';
  text-decoration: none;
  font-weight: normal;
}

li {
  font-size: 15px;
  line-height: 25px;
}
a {
  cursor: pointer;
}

.ff-bold {
  font-family: 'AvenirBold';
}

.ff-book {
  font-family: 'AvenirNextThin';
}

.ff-med {
  font-family: 'AvenirBold';
}

.ff-reg {
  font-family: 'AvenirNext';
}

.fs-40 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 900;

  @media (max-width: 400px) {
    font-size: 30px;
    line-height: 40px;
  }
}

.fs-24 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 900;
}

.fs-20 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 900;
  @media (max-width: 400px) {
    font-size: 15px;
    line-height: 20px;
  }
}

.fs-18 {
  font-size: 18px;
  line-height: 29px;
  font-weight: 800;
}

.fs-17 {
  font-size: 17px;
  line-height: 27px;
}

.fs-15 {
  font-size: 15px;
  line-height: 25px;
}

.fs-14 {
  font-size: 14px;
  line-height: 23px;
}

.fs-13 {
  font-size: 13px;
  line-height: 20px;
}

.fs-10 {
  font-size: 10px;
}
