@font-face {
  font-family: GTWalsheim;
  src: url('/assets/fonts/gt-walsheim-web.ttf');
}
@font-face {
  font-family: GTWalsheimLight;
  src: url('/assets/fonts/gt-walsheim-light-web.ttf');
}
@font-face {
  font-family: GTWalsheimMedium;
  src: url('/assets/fonts/gt-walsheim-medium-web.ttf');
}
@font-face {
  font-family: GTWalsheimBold;
  src: url('/assets/fonts/gt-walsheim-bold-web.ttf');
}
button,
span,
pre,
a,
p,
abbr,
input,
label,
textarea,
select,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'GTWalsheim';
  text-decoration: none;
  font-weight: normal;
}

a {
  cursor: pointer;
}

.ff-bold {
  font-family: 'GTWalsheimBold';
}

.ff-book {
  font-family: 'GTWalsheimLight';
}

.ff-med {
  font-family: 'GTWalsheimMedium';
}

.ff-reg {
  font-family: 'GTWalsheim';
}

.fs-40 {
  font-size: 40px;
  line-height: 50px;

  @media (max-width: 400px) {
    font-size: 30px;
    line-height: 40px;
  }
}

.fs-24 {
  font-size: 24px;
  line-height: 30px;
}

.fs-20 {
  font-size: 20px;
  line-height: 26px;
  @media (max-width: 400px) {
    font-size: 15px;
    line-height: 20px;
  }
}

.fs-18 {
  font-size: 18px;
  line-height: 25px;
}

.fs-17 {
  font-size: 17px;
  line-height: 25px;
}

.fs-15 {
  font-size: 15px;
  line-height: 18px;
}

.fs-14 {
  font-size: 14px;
  line-height: 18px;
}

.fs-13 {
  font-size: 13px;
  line-height: 18px;
}

.fs-10 {
  font-size: 10px;
}
